html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.pagination {
  margin: 20px 0 0;
  font-size: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  background: #fff;
  padding: 5px 20px;
  font-size: 22px;
}

a.next {
  color: #be271d;
}

a.prev:hover, a.next:hover {
  background-color: white;
  color: #23527c;
}

a:hover {
  text-decoration: underline;
  background: #be271d;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  border: 1px solid #be271d;
}

li {
  margin: 0;
}

li.active a {
  background: #be271d;
  color: #fff;
}

li.active a:hover {
  text-decoration: none;
  cursor: default;
}

.prev img,
.next img {
  margin: 0 10px;
}

.prev.disabled,
.next.disabled {
  display: none;
}

.prev.disabled:hover,
.next.disabled:hover {
  cursor: default;
  text-decoration: none;
}

.prev {
  margin-right: 2.5px;
}

.next {
  margin-left: 2.5px;
}

@media (max-width: 767px) {
  li:first-child, li.active, li.active-sibling:nth-last-child(2), li:last-child {
    display: inline-block !important;
  }
  li:first-child:nth-last-child(n + 6) ~ li {
    display: none;
  }
  li:first-child:nth-last-child(n + 6) ~ li:nth-last-child(-n + 3) {
    display: inline-block;
  }
  li:first-child:nth-last-child(n + 6) ~ li:nth-last-child(3):before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5px;
  }
  li:first-child:nth-last-child(n + 6).active:before,
  li:first-child:nth-last-child(n + 6) ~ li.active:before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5px;
  }
  li:first-child:nth-last-child(n + 6).active:after,
  li:first-child:nth-last-child(n + 6) ~ li.active:after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
  }
  li:first-child:nth-last-child(n + 6).active:nth-child(-n + 2):before, li:first-child:nth-last-child(n + 6).active:nth-child(-n + 2):after, li:first-child:nth-last-child(n + 6).active:nth-last-child(-n + 2):before, li:first-child:nth-last-child(n + 6).active:nth-last-child(-n + 2):after,
  li:first-child:nth-last-child(n + 6) ~ li.active:nth-child(-n + 2):before,
  li:first-child:nth-last-child(n + 6) ~ li.active:nth-child(-n + 2):after,
  li:first-child:nth-last-child(n + 6) ~ li.active:nth-last-child(-n + 2):before,
  li:first-child:nth-last-child(n + 6) ~ li.active:nth-last-child(-n + 2):after {
    display: none;
  }
  li:first-child:nth-last-child(n + 6).active ~ li:nth-last-child(-n + 3),
  li:first-child:nth-last-child(n + 6) ~ li.active ~ li:nth-last-child(-n + 3) {
    display: none;
  }
  li:first-child:nth-last-child(n + 6).active ~ li:nth-child(-n + 3),
  li:first-child:nth-last-child(n + 6) ~ li.active ~ li:nth-child(-n + 3) {
    display: inline-block;
  }
  li:first-child:nth-last-child(n + 6).active ~ li:nth-child(-n + 2):after,
  li:first-child:nth-last-child(n + 6) ~ li.active ~ li:nth-child(-n + 2):after {
    display: none;
  }
  li:first-child:nth-last-child(n + 6).active ~ li:nth-child(3):after,
  li:first-child:nth-last-child(n + 6) ~ li.active ~ li:nth-child(3):after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
  }
}

@media (min-width: 768px) {
  li:first-child, li.active-sibling, li.active,
  li.active + li, li:last-child {
    display: inline-block !important;
  }
  li:first-child:nth-last-child(n + 8) ~ li {
    display: none;
  }
  li:first-child:nth-last-child(n + 8) ~ li.active-sibling:before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5px;
  }
  li:first-child:nth-last-child(n + 8) ~ li.active + li:after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
  }
  li:first-child:nth-last-child(n + 8) ~ li:nth-last-child(-n + 5) {
    display: inline-block;
  }
  li:first-child:nth-last-child(n + 8) ~ li:nth-last-child(5):before {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-right: 2.5px;
  }
  li:first-child:nth-last-child(n + 8) ~ li:nth-child(-n + 2):before, li:first-child:nth-last-child(n + 8) ~ li:nth-child(-n + 2):after, li:first-child:nth-last-child(n + 8) ~ li:nth-last-child(-n + 2):before, li:first-child:nth-last-child(n + 8) ~ li:nth-last-child(-n + 2):after, li:first-child:nth-last-child(n + 8) ~ li.active-sibling:nth-last-child(-n + 4):before, li:first-child:nth-last-child(n + 8) ~ li.active-sibling:nth-last-child(-n + 4):after {
    display: none !important;
  }
  li:first-child:nth-last-child(n + 8).active ~ li:nth-last-child(-n + 5),
  li:first-child:nth-last-child(n + 8) ~ li.active ~ li:nth-last-child(-n + 5) {
    display: none;
  }
  li:first-child:nth-last-child(n + 8).active ~ li:nth-last-child(-n + 5):before,
  li:first-child:nth-last-child(n + 8) ~ li.active ~ li:nth-last-child(-n + 5):before {
    display: none;
  }
  li:first-child:nth-last-child(n + 8).active ~ li:nth-child(-n + 5),
  li:first-child:nth-last-child(n + 8) ~ li.active ~ li:nth-child(-n + 5) {
    display: inline-block;
  }
  li:first-child:nth-last-child(n + 8).active ~ li:nth-child(-n + 4):after,
  li:first-child:nth-last-child(n + 8) ~ li.active ~ li:nth-child(-n + 4):after {
    display: none;
  }
  li:first-child:nth-last-child(n + 8).active ~ li:nth-child(5):after,
  li:first-child:nth-last-child(n + 8) ~ li.active ~ li:nth-child(5):after {
    content: "\2026";
    font-size: 24px;
    display: inline-block;
    margin-left: 2.5px;
  }
  li:first-child:nth-last-child(n + 8).active:before, li:first-child:nth-last-child(n + 8).active:after,
  li:first-child:nth-last-child(n + 8) ~ li.active:before,
  li:first-child:nth-last-child(n + 8) ~ li.active:after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */